<div class="container">
    <section class="contacts">
      <article class="contact">
        <span class="contact__avatar"></span>
        <span class="contact__data">Nome</span>
        <span class="contact__data">Telefone</span>
        <span class="contact__data">País</span>
        <span class="contact__data">Admissão</span>
        <span class="contact__data">Empresa</span>
        <span class="contact__data">Departamento</span>
      </article>
    </section>
    <app-contacts-item 
    *ngFor="let contact of contacts"
    [avatar]="contact.avatar"
    [name]="contact.name"
    [phone]="contact.phone"
    [country]="contact.country"
    [admissionDate]="contact.admissionDate"
    [company]="contact.company"
    [department]="contact.department"
    >
    ></app-contacts-item>
</div>