<div class="container">
    <section class="filters">
        <div class="filters__search">
            <input class="filters__search__input" type="text"
                   placeholder="Pesquisar" (keyup)="filterContactList($event)"/>
            <button class="filters__search__icon">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
        <button [ngClass]="{'filters__item': !isSelect, 'filters__item--select': isSelect && orderByNameSelect}" (click)="orderByName()">
            Nome
        </button>
        <button  [ngClass]="{'filters__item': !isSelect, 'filters__item--select': isSelect && orderByCountrySelect}" (click)="orderByCountry()">
            País
        </button>
        <button  [ngClass]="{'filters__item': !isSelect, 'filters__item--select': isSelect && orderByCompanySelect}" (click)="orderByCompany()">
            Empresa
        </button>
        <button  [ngClass]="{'filters__item': !isSelect, 'filters__item--select': isSelect && orderByDepartamentSelect}" (click)="orderByDepartament()">
            Departamento
        </button>
        <button  [ngClass]="{'filters__item': !isSelect, 'filters__item--select': isSelect && orderByAdmissionDateSelect}" (click)="orderByAdmissionDate()">
            Data de admissão
        </button>
    </section>
</div>