<div class="container">
    <section class="filters">
        <div class="filters__search">
            <input class="filters__search__input" type="text" placeholder="Pesquisar" />
            <button class="filters__search__icon">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>

        <button class="filters__item is-selected">
            Nome
        </button>

        <button class="filters__item">
            País
        </button>

        <button class="filters__item">
            Empresa
        </button>

        <button class="filters__item">
            Departamento
        </button>

        <button class="filters__item">
            Data de admissão
        </button>
    </section>
</div>