<article class="contact">
    <span class="contact__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jennyyo/128.jpg" alt="avatar" />
    </span>
    <span class="contact__data">Adrian Lakin</span>
    <span class="contact__data">(862) 704-3661</span>
    <span class="contact__data">Lao People's Democratic Republic</span>
    <span class="contact__data">04/09/2019</span>
    <span class="contact__data">Hoeger Inc</span>
    <span class="contact__data">Industrial</span>
</article>

<article class="contact">
    <span class="contact__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jennyyo/128.jpg" alt="avatar" />
    </span>
    <span class="contact__data">Adrian Lakin</span>
    <span class="contact__data">(862) 704-3661</span>
    <span class="contact__data">Lao People's Democratic Republic</span>
    <span class="contact__data">04/09/2019</span>
    <span class="contact__data">Hoeger Inc</span>
    <span class="contact__data">Industrial</span>
</article>

<article class="contact">
    <span class="contact__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jennyyo/128.jpg" alt="avatar" />
    </span>
    <span class="contact__data">Adrian Lakin</span>
    <span class="contact__data">(862) 704-3661</span>
    <span class="contact__data">Lao People's Democratic Republic</span>
    <span class="contact__data">04/09/2019</span>
    <span class="contact__data">Hoeger Inc</span>
    <span class="contact__data">Industrial</span>
</article>

<article class="contact">
    <span class="contact__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jennyyo/128.jpg" alt="avatar" />
    </span>
    <span class="contact__data">Adrian Lakin</span>
    <span class="contact__data">(862) 704-3661</span>
    <span class="contact__data">Lao People's Democratic Republic</span>
    <span class="contact__data">04/09/2019</span>
    <span class="contact__data">Hoeger Inc</span>
    <span class="contact__data">Industrial</span>
</article>