<article class="contact" *ngFor="let contact of contacts">
    <span class="contact__avatar">
      <img src="{{contact.avatar}}" alt="avatar" />
    </span>
    <span class="contact__data">{{contact.name}}</span>
    <span class="contact__data">{{contact.phone}}</span>
    <span class="contact__data">{{contact.country}}</span>
    <span class="contact__data">{{contact.admissionDate}}</span>
    <span class="contact__data">{{contact.company}}</span>
    <span class="contact__data">{{contact.department}}</span>
</article>